/* VARIABLES */
@use "variables" as v;

/* FONTS */
@font-face {
  font-family: 'Savate';
  src: url('../fonts/Savate/savate-regular-webfont.eot');
  src: url('../fonts/Savate/savate-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Savate/savate-regular-webfont.woff2') format('woff2'),
  url('../fonts/Savate/savate-regular-webfont.woff') format('woff'),
  url('../fonts/Savate/savate-regular-webfont.ttf') format('truetype'),
  url('../fonts/Savate/savate-regular-webfont.svg#savateregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Typewriter';
  src: url('../fonts/Typewriter/JMHTypewriter-Black.woff2') format('woff2'),
  url('../fonts/Typewriter/JMHTypewriter-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Typewriter';
  src: url('../fonts/Typewriter/JMHTypewriter-Thin.woff2') format('woff2'),
  url('../fonts/Typewriter/JMHTypewriter-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Typewriter';
  src: url('../fonts/Typewriter/JMHTypewriter-Bold.woff2') format('woff2'),
  url('../fonts/Typewriter/JMHTypewriter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* DEFAULT */
* {
  margin: 0;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-family: v.$text-font;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: v.$dark-color;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button,
input,
textarea,
select {
  font: inherit;
}

input,
textarea {
    &:focus {
        outline: none;
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}