@use "../../assets/styles/variables" as v;

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 10rem;
  height: 15vh;
  padding: 0 5%;
  z-index: 4;
  
  @media (max-width: 768px) {
    top: auto;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: auto;
    display: grid;
    place-items: center;
  }

  &__button {
    width: 10rem;
    height: 100%;
    cursor: pointer;
    padding: 1rem;

    &-image {
      height: 90%;
      object-fit: cover;
    }
  }
}